<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>热卖品类1_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_1_1</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类2_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_ 1_2</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类3_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_ 1_3</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类4_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_ 1_4</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类5_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_ 1_5</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类6_1</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9_ 1_6</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>热卖品类1_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类2_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类3_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类4_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类5_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类6_2</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>热卖品类1_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类2_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类3_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类4_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类5_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类6_3</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>热卖品类1_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类2_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类3_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类4_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类5_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>热卖品类6_4</string>
			<key>details</key>
			<array>
				<dict>
					<key>name</key>
					<string>商品1</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品2</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品3</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品4</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品5</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品6</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品7</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品8</string>
					<key>img</key>
					<string>img</string>
				</dict>
				<dict>
					<key>name</key>
					<string>商品9</string>
					<key>img</key>
					<string>img</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
